
                    <section class="parallax-section parallax-section-lg border-bottom image-fond">
                        <span class="mask mask-dark--style-2"></span>
                        <div class="container">
                            <div class="row justify-content-center">
                                
                                <div class="col-md-12">
                                    <div class="row">
                                        
                                    
                                    
                                
                                <div class="col-md-5">
                                     <div class="row">
                                        <div class="col-md-12">
                                            <div class="card">
                                                <ul class="list-group list-group-flush">
                                                  <li class="list-group-item">Cras justo odio</li>
                                                  <li class="list-group-item">Dapibus ac facilisis in</li>
                                                  <li class="list-group-item">Morbi leo risus</li>
                                                  <li class="list-group-item">Porta ac consectetur ac</li>
                                                  
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                     <div class="row top5">
                                        <div class="col-md-12">
                                            <div class="card">
                                              <ul class="list-group list-group-flush">
                                                <li class="list-group-item">Best prono ever</li>
                                                <li class="list-group-item"> Dernier prono</li>
                                                <li class="list-group-item">Vestibulum at eros</li>
                                                <li class="list-group-item">Vestibulum at eros</li>
                                              </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-5 top5 d-block d-md-none">
                                    <div class="row">
                                        
                                    
                                            <div class="news-group col-md-12">
                                                <ul class="list-group">
                                                    <li class="list-group-item" id="news">
                                                        news
                                                    </li>
                                                    <li class="list-group-item" id="news">
                                                        news
                                                    </li>
                                                    <li class="list-group-item" id="news">
                                                        news
                                                    </li>
                                                    <li class="list-group-item" id="news">
                                                        news
                                                    </li>
                                                    <li class="list-group-item" id="news">
                                                        news
                                                    </li>
                                                    <li class="list-group-item" id="news">
                                                        news
                                                    </li>
                                                    <li class="list-group-item" id="news">
                                                        news
                                                    </li>
                                                    <li class="list-group-item" id="news">
                                                        news
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>         
                                </div>        
                                <div class="col-md-7 d-none d-md-block top3">
                                            <div class="news-group">
                                                <ul class="list-group">
                                                    <li class="list-group-item" id="news">
                                                        news
                                                    </li>
                                                    <li class="list-group-item" id="news">
                                                        news
                                                    </li>
                                                    <li class="list-group-item" id="news">
                                                        news
                                                    </li>
                                                    <li class="list-group-item" id="news">
                                                        news
                                                    </li>
                                                    <li class="list-group-item" id="news">
                                                        news
                                                    </li>
                                                    <li class="list-group-item" id="news">
                                                        news
                                                    </li>
                                                    <li class="list-group-item" id="news">
                                                        news
                                                    </li>
                                                    <li class="list-group-item" id="news">
                                                        news
                                                    </li>
                                                </ul>
                                            </div> 
                                </div>  
                                    </div> 
                                </div>                               
                            </div>
                        </div>
                    </section>                  