    <div class="top-navbar">
	<div class="container">
        <div class="row">
            <div class="col-md-6">
            	<span class="aux-text d-none d-md-inline-block">
                    <ul class="inline-links inline-links--style-1">
                        <li class="d-none d-lg-inline-block">
							Boomerang - Multipurpose Bootstrap Theme                        </li>
                        <li>
                            <i class="fa fa-envelope"></i>
                            <a href="#">support@webpixels.io</a>
                        </li>
                    </ul>
                </span>
			</div>

			<div class="col-md-6">
            	<nav class="top-navbar-menu">
                    <ul class="top-menu">
                        <li><a href="#">Sign in</a></li>
                        <li><a href="#">Create account</a></li>
						<li><a href="#" data-toggle="global-search"><i class="fa fa-search"></i></a></li>
						<li class="dropdown">
							<a href="#">
								<i class="fa fa-shopping-cart"></i>
							</a>
							<ul class="sub-menu">
								<li>
									<div class="dropdown-cart px-0">
    <div class="dc-header">
        <h3 class="heading heading-6 strong-600">Cart</h3>
    </div>
    <div class="dc-item">
        <div class="d-flex align-items-center">
            <div class="dc-image">
                <a href="#">
                    <img src="../../assets/images/prv/shop/accessories/img-1a.png" class="img-fluid" alt="">
                </a>
            </div>
            <div class="dc-content">
                <span class="d-block dc-product-name text-capitalize strong-600 mb-1">
                    <a href="#">
                        Wood phone case
                    </a>
                </span>

                <span class="dc-quantity">x2</span>
                <span class="dc-price">$50.00</span>
            </div>
            <div class="dc-actions">
                <button>
                    <i class="ion-close"></i>
                </button>
            </div>
        </div>
    </div>

    <div class="dc-item">
        <div class="d-flex align-items-center">
            <div class="dc-image">
                <a href="#">
                    <img src="../../assets/images/prv/shop/accessories/img-2a.png" class="img-fluid" alt="">
                </a>
            </div>
            <div class="dc-content">
                <span class="d-block dc-product-name text-capitalize strong-600 mb-1">
                    <a href="#">
                        Leather bag
                    </a>
                </span>

                <span class="dc-quantity">x1</span>
                <span class="dc-price">$250.00</span>
            </div>
            <div class="dc-actions">
                <button>
                    <i class="ion-close"></i>
                </button>
            </div>
        </div>
    </div>

    <div class="dc-item">
        <div class="d-flex align-items-center">
            <div class="dc-image">
                <a href="#">
                    <img src="../../assets/images/prv/shop/accessories/img-3a.png" class="img-fluid" alt="">
                </a>
            </div>
            <div class="dc-content">
                <span class="d-block dc-product-name text-capitalize strong-600 mb-1">
                    <a href="#">
                        Brown leather wallet
                    </a>
                </span>

                <span class="dc-quantity">x1</span>
                <span class="dc-price">$99.00</span>
            </div>
            <div class="dc-actions">
                <button>
                    <i class="ion-close"></i>
                </button>
            </div>
        </div>
    </div>
    <div class="dc-item py-4">
        <span class="subtotal-text">Subtotal</span>
        <span class="subtotal-amount">$450.00</span>
    </div>
    <div class="py-4 text-center">
        <ul class="inline-links inline-links--style-3">
            <li class="pr-3">
                <a href="#" class="link link--style-2 text-capitalize">
                    <i class="ion-person"></i> My account
                </a>
            </li>
            <li class="pr-3">
                <a href="#" class="link link--style-1 text-capitalize">
                    <i class="ion-bag"></i> View cart
                </a>
            </li>
            <li>
                <a href="#" class="link link--style-1 text-capitalize">
                    <i class="ion-forward"></i> Checkout
                </a>
            </li>
        </ul>
    </div>
</div>
								</li>
							</ul>
						</li>
                        <li class="aux-languages dropdown">
                            <a href="#">
                                <img src="../../assets/images/icons/flags/ro.png">
                            </a>
                            <ul id="auxLanguages" class="sub-menu">
                                <li>
                                    <a href="#"><span class="language">German</span></a>
                                </li>
                                <li>
                                    <span class="language language-active">English</span>
                                </li>
                                <li>
                                    <a href="#"><span class="language">Greek</span></a>
                                </li>
                                <li>
                                    <a href="#"><span class="language">Spanish</span></a>
                                </li>
                            </ul>
                        </li>
						<li><a href="#" class="btn-st-trigger" data-effect="st-effect-1"><i class="fa fa-ellipsis-h"></i></a></li>
                    </ul>
				</nav>
            </div>
        </div>
    </div>
</div>